<h1>Sign In</h1>

<h1>New User</h1>

<%= form_for :session, url: sessions_path do |f| %>

  <!-- does not work here -->
  <%#= render partial: 'shared/error_message', locals: { object: @user } %>

  <div class="row">
    <div class="col-md-6">

      <%#= form_group_tag(@user.errors[:email]) do %><!-- does not work here-->
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
      </div>
      <%# end %>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
      </div>

      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-success" %>
      </div>

    </div>
  </div>

<% end %>


<!-- -->
